<plugin name='js-controllers' version='1.0-SNAPSHOT' grailsVersion='2.0 &gt; *'>
  <author>Your name</author>
  <title>Js Controllers Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/js-controllers</documentation>
  <type>JsControllersGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>