<plugin name='js-controllers' version='1.1-SNAPSHOT' grailsVersion='2.0 &gt; *'>
  <title>JavaScript Controller Plugin</title>
  <description>Plugin to allow for handling controller actions in JavaScript</description>
  <documentation>http://grails.org/plugin/js-controllers</documentation>
  <type>JsControllersGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <test>
      <dependency group='org.spockframework' name='spock-grails-support' version='0.7-groovy-2.0' />
    </test>
  </dependencies>
  <plugins>
    <test>
      <plugin group='org.grails.plugins' name='spock' version='0.7' />
    </test>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>